<br />
<br />

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15"
    [formGroup]="registerForm"
  >
    <ng-container>
      <h3 [ngClass]="showSuccessOrError()">{{ message }}</h3>
    </ng-container>

    <h3>Sign Up</h3>

    <mat-form-field>
      <input
        matInput
        formControlName="firstName"
        type="text"
        placeholder="First Name"
      />
      <mat-error>First Name Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="lastName"
        type="text"
        placeholder="Last Name"
      />
      <mat-error>Last Name Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
      />
      <mat-error>Email Required</mat-error>
      <mat-hint>Ex. test.user@test.com</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        maxlength="8"
      />
      <mat-error>Password Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="phoneNumber"
        type="tel"
        placeholder="Phone Number"
      />
      <mat-error>Phone Number Required</mat-error>
      <mat-hint>Ex. 123-456-7890</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User</mat-label>
      <mat-select matInput formControlName="userType">
        <mat-option *ngFor="let userType of userTypes" [value]="userType.value">
          {{ userType.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error>Please select a user</mat-error>
    </mat-form-field>
  </form>

  <div fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button type="submit" (click)="attemptToSignUp()">
      {{ registerBtn }}
    </button>

    <br /><br />

    <button mat-raised-button (click)="goToLoginPage()">
      {{ loginBtn }}
    </button>
  </div>
</div>
