<br />
<br />

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10">
  <h3>Welcome {{ name | titlecase }}!</h3>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10">
    <h5>Email: {{ email }}</h5>
    <h5>User: {{ userType }}</h5>
  </div>

  <ng-container [ngSwitch]="displayCustomerTable">
    <table
      mat-table
      [dataSource]="dataSource1"
      class="mat-elevation-z8"
      *ngSwitchCase="true"
    >
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>

      <ng-container matColumnDef="Account Type">
        <th mat-header-cell *matHeaderCellDef>Account Type</th>
        <td mat-cell *matCellDef="let account">{{ account.accountType }}</td>
      </ng-container>

      <ng-container matColumnDef="Account Number">
        <th mat-header-cell *matHeaderCellDef>Account Number</th>
        <td mat-cell *matCellDef="let account">{{ account.accountNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="Routing Number">
        <th mat-header-cell *matHeaderCellDef>Routing Number</th>
        <td mat-cell *matCellDef="let account">{{ account.routingNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="Balance">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell *matCellDef="let account">${{ account.balance }}</td>
      </ng-container>
    </table>

    <h4 *ngSwitchCase="false">Checking Accounts</h4>

    <table
      mat-table
      [dataSource]="dataSource2"
      class="mat-elevation-z8"
      *ngSwitchCase="false"
    >
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let useracc">{{ useracc.name }}</td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let useracc">{{ useracc.email }}</td>
      </ng-container>

      <ng-container matColumnDef="Account Number">
        <th mat-header-cell *matHeaderCellDef>Account Number</th>
        <td mat-cell *matCellDef="let useracc">
          {{ useracc.checkingAccount.accountNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Routing Number">
        <th mat-header-cell *matHeaderCellDef>Routing Number</th>
        <td mat-cell *matCellDef="let useracc">
          {{ useracc.checkingAccount.routingNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Balance">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell *matCellDef="let useracc">
          ${{ useracc.checkingAccount.balance }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let useracc">
          <div fxLayout="row">
            <button mat-raised-button (click)="approveAccount()">
              Approve
            </button>
            <button mat-raised-button (click)="denyAccount()">Deny</button>
          </div>
        </td>
      </ng-container>
    </table>

    <br />
    <h4 *ngSwitchCase="false">Savings Accounts</h4>

    <table
      mat-table
      [dataSource]="dataSource3"
      class="mat-elevation-z8"
      *ngSwitchCase="false"
    >
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let useracc">{{ useracc.name }}</td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let useracc">{{ useracc.email }}</td>
      </ng-container>

      <ng-container matColumnDef="Account Number">
        <th mat-header-cell *matHeaderCellDef>Account Number</th>
        <td mat-cell *matCellDef="let useracc">
          {{ useracc.savingsAccount.accountNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Routing Number">
        <th mat-header-cell *matHeaderCellDef>Routing Number</th>
        <td mat-cell *matCellDef="let useracc">
          {{ useracc.savingsAccount.routingNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Balance">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell *matCellDef="let useracc">
          ${{ useracc.savingsAccount.balance }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let useracc">
          <div fxLayout="row">
            <button mat-raised-button (click)="approveAccount()">
              Approve
            </button>
            <button mat-raised-button (click)="denyAccount()">Deny</button>
          </div>
        </td>
      </ng-container>
    </table>
  </ng-container>

  <br />
  <br />

  <div fxLayout="row" fxLayoutGap="250" *ngIf="displayCustomerForms">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="45"
      *ngIf="!hasMaxAccounts"
    >
      <h3>Register an account</h3>

      <h4 *ngIf="accountMessage.length > 0">{{ accountMessage }}</h4>

      <form fxLayout="row" fxLayoutGap="50" [formGroup]="accountForm">
        <mat-form-field>
          <input
            matInput
            formControlName="balance"
            type="number"
            placeholder="Enter a starting balance"
          />
          <mat-error>Please enter a starting balance</mat-error>
          <mat-hint>Ex. $100</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select a account type</mat-label>
          <mat-select matInput formControlName="accountType">
            <mat-option
              *ngFor="let accountType of accountTypes"
              [value]="accountType.value"
            >
              {{ accountType.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>Please select an account type</mat-error>
        </mat-form-field>
      </form>

      <button
        mat-raised-button
        type="submit"
        (click)="submitAccount(accountForm.value)"
      >
        {{ btnText1 }}
      </button>
    </div>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="45"
      *ngIf="hasMaxAccounts"
    >
      <h3>Make a transaction</h3>

      <h4 *ngIf="transactionMessage.length > 0">{{ transactionMessage }}</h4>

      <form fxLayout="row" fxLayoutGap="50" [formGroup]="transactionForm">
        <mat-form-field>
          <input
            matInput
            formControlName="amount"
            type="number"
            placeholder="Enter an amount"
          />
          <mat-error>Please enter an amount</mat-error>
          <mat-hint>Ex. $100</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select a transaction</mat-label>
          <mat-select matInput formControlName="transaction">
            <mat-option
              *ngFor="let transaction of transactionList"
              [value]="transaction.value"
            >
              {{ transaction.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>Please select a transaction</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select an account</mat-label>
          <mat-select matInput formControlName="account">
            <mat-option
              *ngFor="let accountType of accountTypes"
              [value]="accountType.value"
            >
              {{ accountType.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>Please select an account to transact</mat-error>
        </mat-form-field>
      </form>

      <button
        mat-raised-button
        type="submit"
        (click)="submitTransaction(transactionForm.value)"
      >
        {{ btnText2 }}
      </button>
    </div>
  </div>
</div>
