<br />
<br />

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15"
    [formGroup]="loginForm"
  >
    <h3>Login</h3>

    <mat-form-field>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
      />
      <mat-error>Email Required</mat-error>
      <mat-hint>Ex. test.user@test.com</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        maxlength="8"
      />
      <mat-error>Password Required</mat-error>
    </mat-form-field>
  </form>

  <div fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button type="submit" (click)="attemptToLogin()">
      {{ loginBtn }}
    </button>

    <br />
    <br />

    <button mat-raised-button (click)="goToRegisterPage()">
      {{ registerBtn }}
    </button>
  </div>
</div>
